vlExamples/js/*.js linguist-generated=true
vlTests/js/*.js linguist-generated=true
vlTest-gallery/js/*.js linguist-generated=true
vExamples/js/*.js linguist-generated=true
vTests/js/*.js linguist-generated=true
vTest-gallery/js/*.js linguist-generated=true
